body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2e3440;
    color: #d8dee9;
}

.calculator {
   display: flex;
   flex-direction: column;
   justify-content: center;
   border-radius: 30px;
   
}

.screen {
    background-color: #434c5e;
   flex-direction: column;
}
.buttons {
    background-color: #3b4252;

}
.row1 {
    justify-content: space-around;
   
}

button {
    height: 50px;
    width: 50px;
    margin: 5px;
    background-color: #434c5e;
    border-color: #4c566a;
    border-radius: 10px;
    font-size: large;
    color: #eceff4;
}

#CLEAR {
    width: 100px;
}

#DELETE {
    width: 130px;
}